<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
      <ion-item *ngFor="let c of pocs">
        <ion-avatar item-left>
          <img src="{{c.flag}}">
        </ion-avatar>
        <h2>{{c}}</h2>
        <p>Capital: {{c.capital}}, Region: {{c.region}}</p>
      </ion-item>
    </ion-list> -->
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>

    <ion-list>
      <ion-item *ngFor="let c of filteredPocs">
         <p>{{c}}</p>
      </ion-item>
    </ion-list>
  <button ion-button (click)="enablePushNotification()">Enable Push Notification</button>
</ion-content>
